*{
    margin: 0px;
    padding: 0px;
}
/* nav bar start  */
#nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #1A1244;
    padding: 0px 100px;
    position: sticky;
    top: 0px;
}
.website-logo{
    font-size: 20px;
    padding: 10px 0px;
    color: white;
}
#nav-bar ul{
    display: flex;
}
#nav-bar ul li{
    list-style: none;
    margin:20px 10px;
}
#nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: bold;
}
#nav-bar ul li a:hover{
    background-color: black;
    color: red;
}
/* nav bar end  */
form{
    width: 700px;
    border: none;
    margin: 50px auto;
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #6b5daf;
    padding: 40px 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px gray;
}
form h2{
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}
.input-area input{
    display: block;
    margin-bottom: 30px;
    width: 350px;
    height: 30px;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 40px;

}
form textarea{
    border-radius: 20px;
    margin-bottom: 50px;
    border: none;
    padding: 10px;
    font-size: 15px;
}
.submit-button{
    padding: 15px;
    background-color: #350e72;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 15px;
}