*{
    margin: 0px;
}
/* nav bar start  */
#nav-bar{
    display: flex;
    justify-content: space-between;
    background-color: #1A1244;
    padding: 0px 100px;
    border-bottom: 4px solid #401E63;
}
.website-logo{
    font-size: 20px;
    padding: 10px 0px;
    color: white;
}
#nav-bar ul{
    display: flex;
}
#nav-bar ul li{
    list-style: none;
    margin:20px 10px;
}
#nav-bar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: bold;
}
#nav-bar ul li a:hover{
    background-color: black;
    color: red;
}
/* nav bar end  */

/* hero area start  */
.hero-area-items{
    background-image: url(image/website\ banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 200px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-area-items input{
    width: 500px;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
}
.hero-area-items i{
    background-color: green;
    font-size: 30px;
    padding: 5px;
    border-radius: 0px 5px 5px 0px;
    color: red;
    cursor: pointer;
}
/* hero area end  */

/* main area start  */
main{
    background-color: #2D236A;
    padding-top: 20px;
}
#main-section{
    width: 1100px;
    margin: auto;
    padding: 50px 0px;
}
.main-header{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 25px;
    color: green;
}
.pages{
    color: green;
    font-size: 20px;

}
.pages h4 span{
    background-color: white;
    margin: 0px 10px;
    padding: 5px;
    color: gray;
    border-radius: 5px;
}
#single-items-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 20px;
    margin-top: 20px;
}
.single-item{
    height: 250px;
    border: 3px solid gray;
}
.single-item img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.image-title{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: gray;
}
.single-item img:hover{
    transform: scale(1.1);
    border-radius: 5px;
}
.main-footer{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.main-footer a{
    text-decoration: none;
    color: white;
}
.main-footer h3 a{
    background-color: #04AA6D;
    padding: 10px 25px;
    border-radius: 5px;
    transition: 0.5s;
}
.main-footer h3 a:hover{
    background-color: #036944;
}
.current-page a{
    margin: 0 10px;
    background-color: white;
    padding: 8px;
    color: black;
    border-radius: 5px;

}
.current-page a:first-child{
    background-color: #04AA6D;
    color: white;
}
/* main area end  */